@font-face {
  font-family: 'Digital';
  src: url('https://db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2') format('woff2');
}
body {
  text-align: center;
  font-size: 1.3rem;
  color: white;
  background-color: #263238;
}
#break-length,
#session-length {
  font-family: 'Orbitron', sans-serif;
}
#time-left {
  font-family: 'Digital', sans-serif;
  font-size: 3rem;
}
[class^="col-"] {
  border: 1px solid #76ff03;
  border-radius: .25rem;
}
button {
  margin: 2px 10px;
  font-weight: bolder;
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: .25rem;
  padding: 0px 8px;
  color: #76ff03;
  cursor: pointer;
}
button:hover,
button:focus,
button:active {
  outline: none;
  border: none;
}
.card {
  background-color: #4f5b62;
}
button:hover, .card {
  -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0, 0.2);
  box-shadow: 0px 4px 10px 1px rgba(0,0,0, 0.2);
}
